<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head th:include="fragment/head :: head">
    <title>添加用户</title>
</head>
<body>
<div>
    <form class="layui-form" action="/type/add" method="post" id="add" th:object="${type}">

        <input type="hidden" th:field="*{id}"/>

        <div class="layui-form-item">
            <label class="layui-form-label">关键字1</label>
            <div class="layui-input-inline">
                <input type="text" lay-verify="required" th:field="*{keyword}" placeholder="请输入" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">关键字2</label>
                <div class="layui-input-inline">
                    <input type="text" lay-verify="required" th:field="*{Keyword2}" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Name</label>
                <div class="layui-input-inline">
                    <input type="text" lay-verify="required" th:field="*{name}" placeholder="请输入" autocomplete="off" class="layui-input"/>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
</script>
</body>
</html>