
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head >
    <div th:include="fragment/head :: head"></div>
</head>
<body style="height: 100%">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" th:include="fragment/top :: top"></div>

    <div class="layui-side" th:include="fragment/left :: left"> </div>

    <!--主体内容-->
    <div class="layui-body">
        <div style="margin:0;position:absolute;top:4px;bottom:0px;width:100%;" class="layui-tab layui-tab-brief" lay-filter="tab" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li lay-id="0" class="layui-this">首页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                </div>
            </div>
        </div>
    </div>

    <div  class="layui-footer" th:include="fragment/bottom :: bottom"> </div>

    <div class="individuation animated flipOutY layui-hide" th:include="fragment/setting"></div>
</div>
<!-- layui规范化用法 -->
<script type="text/javascript">
    layui.config({
        base: '/js/'
    }).use('main');
</script>
</body>
</html>